<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="p-4"
  style="max-width: 400px; margin: auto"
>
  <h3 class="mb-4">Login form</h3>

  <div class="mb-3">
    <label for="username">Username:</label>
    <input id="username" type="text" class="form-control" formControlName="username" />
    <div class="text-danger mt-1" *ngIf="username?.touched && username?.invalid">
      <div *ngIf="username?.errors?.['required']">Name is required</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="password">Password:</label>
    <input id="password" type="password" class="form-control" formControlName="password" />
    <div class="text-danger mt-1" *ngIf="password?.touched && password?.invalid">
      <div *ngIf="password?.errors?.['required']">Password required</div>
      <div *ngIf="password?.errors?.['minlength']">Minimum letters should be 6 letters</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
